name: Deploy to Dokploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Dokploy
        uses: dokploy/github-action@v1
        with:
          token: ${{ secrets.DOKPLOY_API_KEY }}
          dokploy-url: ${{ secrets.DOKPLOY_URL }}
          application-name: front-test
